@use '../../styles/variables' as v;

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &-title {
    font-size: 4rem;
    padding: 2rem;
    color: v.$color-primary;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  &-input {
    margin-bottom: 1rem;
  }
}
