@use '../../styles/variables' as v;

.ui.icon.button.create-game-add-player-btn {
  color: v.$color;
  background-color: v.$color-primary;
  margin-bottom: 2rem;
}
.ui.icon.button.create-game-delete-player-btn {
  color: v.$color;
  background-color: v.$color-primary-ultra-light;
}
.ui.button.create-game-submit-btn {
  color: v.$color;
  background-color: v.$color-primary-light;
}

.create-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  &-licences {
    display: flex;
    flex-direction: column;
  }

  &-content {
    flex-grow: 1;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-size: 3rem;
    padding: 2rem;
    color: v.$color-primary;
  }

  &-input {
    margin-bottom: 1rem;
    width: 100%;
  }
  &-licences {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: bold;
    &-input {
      font-weight: normal;
    }
  }
}
