// @use '../../styles/variables' as v;

// .create {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 100vh;

//   &-title {
//     font-size: 4rem;
//     padding: 2rem;
//     color: v.$color-primary;
//   }

//   &-form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex-grow: 1;
//   }

//   &-input {
//     margin-bottom: 1rem;
//   }
// }

@use '../../styles/variables' as v;

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &-title {
    font-size: 4rem;
    padding: 2rem;
    color: v.$color-primary;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 400px;
  }

  .input {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
  }

  .button {
    margin-top: 1rem;
  }
}
