@use '../../styles/variables' as v;

.edit-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &-title {
    font-size: 4rem;
    padding: 2rem;
    color: v.$color-primary;
  }
  
  &-page {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 80%;
  }
  &-input {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.21428571em;
  font-size: 1em;
  color: rgba(0,0,0,.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color .1s ease,border-color .1s ease;
}