.create-sheet {
  display: flex;
  justify-content: space-between; /* Pour aligner les blocs à gauche et à droite */
}

.left-section {
  width: 45%; /* Largeur du bloc "Fiche" */
  text-align: center;
}

.right-section {
  width: 45%; /* Largeur du bloc "Inventaire" */
  text-align: center;
}

.submit-btn {
  text-align: center;
  color: red;
}
