.Logo {
    margin: 1rem;
    padding: 1rem;
}

h2.ui.header {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

p {
    text-align: center;
    width: auto;
    padding: 1rem;
}

.Button {
    text-align: center;
}