@use '../../styles/variables' as v;

.ui.icon.right.labeled.button.home-btn-creategame {
  color: v.$color;
  background-color: v.$color-orange;
}
.ui.button.home-btn-login {
  color: v.$color;
  background-color: v.$color-orange;
}
.ui.button.home-btn-signup {
  color: v.$color;
  background-color: v.$color-orange-light;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &-container {
    margin: 2rem;
    color: v.$color;
    background-color: v.$color-primary;
    padding: 2rem;
    border-radius: 1rem;
    text-shadow: 0 1px 0 black;
  }
  &-group-btn {
    margin-bottom: 1rem;
  }
}
.home-logo {
  clip-path: ellipse(33% 50%);
}
