.Header {
  width: 95%;
  margin: auto;
  background-color: #322124;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &-block {
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }

  &-logo {
    height: 3rem;
    margin: 0.5rem;
  }

  &-title {
    margin-left: 1rem;
    color: #fff;
  }

  &-link {
    margin-left: 2rem;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  &-block2 {
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }
}
