@use '../../styles/variables' as v;

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  &-title {
    text-align: center;
    font-size: 2rem;
    padding: 0.75rem 1.5rem;
    color: v.$color-blue;
    background-color: v.$color;
    border-radius: 1.5rem;
    border: 5px solid v.$color-blue;
  }
  &-form {
    flex-grow: 1;
  }
  &-input {
    margin-bottom: 1rem;
  }
}
.ui.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui.button.forgot-password-submit-btn {
  color: v.$color;
  background-color: v.$color-orange;
  margin-top: 2rem;
}
