@use '../../styles/variables' as v;

.Footer {
  width: 100%;
  background-color: v.$color-blue-night-middle-light;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: v.$color-white;
  font-style: italic;
  margin-top: 1rem;
}
