@use '../../styles/variables' as v;

.binder {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &-btn-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
  }

  &-title {
    font-size: 2rem;
    padding: 0.75rem 1.5rem;
    color: v.$color-blue;
    background-color: v.$color;
    border-radius: 1.5rem;
    border: 5px solid v.$color-blue;
  }
  &-main-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }
}
div.ui.cards {
  margin: 1rem;
}
.ui.container.binder-container {
  border: 1px solid v.$color-primary;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

button.ui.button.binder-btn-createsheet {
  color: v.$color;
  background-color: v.$color-orange;
}

button.ui.button.binder-btn-backToGame {
  color: v.$color;
  background-color: v.$color-orange;
}

@media (max-width: 580px) {
  .binder-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.ui.cards {
    justify-content: center;
  }
}
