@use '../../styles/variables' as v;

.binder {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &-title {
    font-size: 3rem;
    padding: 2rem;
    color: v.$color-primary;
  }
  &-main-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }
}
.ui.container.binder-container {
  border: 1px solid v.$color-primary;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

button.ui.button.binder-btn-createsheet {
  margin-bottom: 1rem;
  color: v.$color;
  background-color: v.$color-primary-light;
}

button.ui.button.binder-btn-backToGame {
  color: v.$color;
  background-color: v.$color-primary-light;
}
