@use '../../styles/variables' as v;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &-title {
    font-size: 4rem;
    padding: 2rem;
    color: v.$color-primary;
  }
  &-form {
    flex-grow: 1;
  }
  &-input {
    margin-bottom: 1rem;
  }
}
.ui.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.ui.input {
  margin: 0;
}
